<div class="large-12 cell">
    <div class="callout" style="background-color:#eeeeee">
        <h2 align="center">How does it work?</h2>

        <hr style="height:2px;border-width:0;color:gray;background-color:gray"> 

        <div class="grid-x grid-padding-x">

            <div class="large-6 medium-6 small-12 cell" align="left">
                <h4>Transport Analyses</h4>
                <p align = "center">At every street junction in a city, UTA
                measures travel times to every other point in the city with any
                possible combination of active and public transport (such as
                walking, cycling, bus, tram, train). These times are then
                converted into ratios relative to equivalent travel times with
                private automobiles.</br></br>
                Lower ratios indicate that active and public transport are
                faster than private automobiles. Ratios also generally increase
                with distance. For each point in a city, UTA measures the
                average ratio out to some fixed distance, such as 5km.
                </p>
            </div>

            <div class="large-6 medium-6 small-12 cell" align="left">
                <h4>Socio-demographic Analyses</h4>
                <p align = "center">The transport index described in the
                adjacent panel is then combined with socio-demographic indices
                such as indices of deprivation or unemployment statistics. These
                statistics are standardised and multiplied by the transport
                index, to generate a compound "UTA index." The socio-demographic
                statistics are standardised so that the scale of the index is
                determined only by the scale of the transport index. This means
                that UTA index values can be meaningfully compared between
                cities.
                </p>
            </div>

        </div>

        <div class="grid-x grid-padding-x">

            <div class="large-12 medium-12 small-12 cell" align="left">
                <h4 align="center">UTA index</h4>
                A low UTA index value reflects good access to transport
                infrastructure and desirable measures of the chosen
                socio-demographic statistic.
                A high UTA index values reflects poor access to transport in
                combination with undesirable socio-demographic statistics. The
                images below demonstrate values for the transport and UTA
                indices for the city of Mannheim, Germany.
            </div>

        </div>

        <div class="grid-x grid-padding-x">

            <div class="large-6 medium-6 small-12 cell" align="left">
                <h4 align="center">Transport Index</h4>
                <img src="assets/img/transport.png" alt="uta index">
            </div>

            <div class="large-6 medium-6 small-12 cell" align="left">
                <h4 align="center">UTA Index</h4>
                <img src="assets/img/uta-index.png" alt="transport index">
            </div>

        </div>

    </div>
</div>
