<div class="large-12 cell">

    <div align="center">
        <p>Supported by:</p><br>
    </div>

    <div class="grid-x grid-padding-x">

        <div class="large-6 medium-6 cell" align="right">
            <a href="http://prototypefund.de" target="_blank" rel="noopener noreferrer">
                <img src="assets/img/ptfund_logo.svg" alt="Prototype Fund">
            </a>
        </div>

        <div class="large-6 medium-6 cell" align="left">
            <a href="http://bmbf.de" target="_blank" rel="noopener noreferrer">
                <img src="assets/img/bmbf_logo.svg" alt="Bundesministerium für Bildung und Forschung">
            </a>
        </div>

    </div>

</div>
