<div class="large-12 cell">
    <div class="callout" style="background-color:#eeeeee">
        <h3 align="center">Tools </h3>

        <hr style="height:2px;border-width:0;color:gray;background-color:gray"> 

        <div class="grid-x grid-padding-x">

            <div class="large-6 medium-6 small-12 cell" align="left">
                <h2>Flow Maps</h2>
                <a target="_blank" rel="noopener noreferrer"
                                   href="https://github.com/urbananalyst/flowmaps">
                    <img class="thumbnail" src="assets/img/flowmap.png" alt="flowmap">
                </a>
                <p align = "center">Detailed interactive maps of bicycle and
                pedestrian densities on every way, street, and path segment in a
                city.</p>
            </div>

            <div class="large-6 medium-6 small-12 cell" align="right">
                <h2>Travel Times</h2>
                <a target="_blank" rel="noopener noreferrer"
                                   href="https://github.com/urbananalyst/traveltimes">
                    <img class="thumbnail" src="assets/img/traveltimes.png" alt="travel times">
                </a>
                <p align = "center">A vareity of travel time statistics for
                every point in a city, including summary statistics of travel
                time ratios for different modes of transport.</p>
            </div>

        </div>

    </div>
</div>
